All Rights Reserved
<br />
<a
    class="privacy-policy"
    href="/Privacy%20Policy"
    target="_top"
    title="Check out the Privacy Policy."
>
    Privacy Policy
</a>
|
<a
    class="privacy-policy"
    href="/Terms%20and%20Conditions"
    target="_top"
    title="Check out the Privacy Policy."
>
    Terms and Conditions
</a>
|
<a
    class="contact-use"
    href="mailto:mail+contact@ehzgames.studio"
    target="_top"
    title="Click here to contact us through email."
>
    Contact Us
</a>
