All Rights Reserved
<br />
<a
    class="link privacy-policy"
    href="/privacy-policy"
    target="_top"
    title="Check out the Privacy Policy."
>
    Privacy Policy
</a>
|
<a
    class="link terms-of-service"
    href="/terms-of-service"
    target="_top"
    title="Check out the Term of Service."
>
    Terms of Service
</a>
|
<a
    class="link contact-use"
    href="mailto:mail+contact@ehzgames.studio"
    target="_top"
    title="Click here to contact us through email."
>
    Contact Us
</a>
