
<div class="gdp-registration">
    <div class="product-name">
        <h2>EventHorizon</h2>
        <p class="--accent-color">Game Development Platform</p>
    </div>

    <p>Request Access and begin your own journey in Game Development.</p>
    <div class="gdp-registration__call-to-action">
        <!-- Register Button -->
        <div class="link">
            <div class="link__background">
                <a
                    class="link__element"
                    href="{{ site.data.externalLinks.platformUrl }}"
                    title="Click here to request Access to the Alpha!"
                >
                    Request Alpha Access
                </a>
                <div class="link__corner --bottom-left"></div>
                <div class="link__corner --bottom-right"></div>
                <div class="link__corner --top-left"></div>
                <div class="link__corner --top-right"></div>
            </div>
        </div>
    </div>
</div>