$content-width: 800px;
$main: #212c38;
$font-style: "Open Sans", sans-serif;
$font-color: #212c38;
$link-color: #255c9b;
$link-hover-color: $main;
$heading-font: "Muli", sans-serif;
$heading-font-color: #212c38;
$light: #e7edf4;
$header: #111;
$header-nav: black;
$nav-color: white;

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}